.eunit
deps
*.o
*.beam
*.plt
*.dump
log/*
erl_crash.dump
ebin/*
.concrete/DEV_MODE
.rebar
*~
\#*#
*.trace
*.analysis
src/test.erl
current_counterexample.eqc
doc/*.html
doc/*.png
doc/*.css
doc/edoc-info
ttb_last_config
*.old
apps/jc/ebin/*
apps/jc_http/ebin/*
rel/jc
target
*.gz
_build
