.eunit
deps
*.o
*.beam
*.plt
*.dump
log/*
erl_crash.dump
ebin/*
.concrete/DEV_MODE
.rebar
*~
\#*#
*.trace
*.analysis
src/test.erl
current_counterexample.eqc
doc/*.html
doc/*.png
doc/*.css
doc/edoc-info
ttb_last_config
*.old
apps/jc/ebin/*
apps/jc_http/ebin/*
rel/jc
target
*.gz
_build
*.html
*.css
*.js
variables-ct
test/ct_run.ct@c4b301cb0a29.2017-10-09_19.10.46
variables-ct@c4b301cb0a29
.#jc.erl
#*
