% -*- mode: erlang -*-

{erl_opts, [{native, o3},
	    warn_missing_spec,
            {parse_transform, lager_transform}]}.

{cover_enabled, true}.

{deps, [
       	{lager, {git, "git://github.com/basho/lager.git", {tag, "2.1.0"}}},
        {jsonx, {git, "git://github.com/iskra/jsonx.git"}                },
	{ej,    {git, "git://github.com/seth/ej.git",	  {branch, "master"}}}
       ]}.						     

% Documentation
{edoc_opts, [{skip_deps, true},
             {preprocess, true}, 
	     {packages, true},
	     {includes, "./include"}] }.


{dialyzer_opts, [{warnings, [no_return,
                             no_unused,
                             no_improper_lists,
                             no_fun_app,
                             no_match,
                             no_opaque,
                             no_fail_call,
                             error_handling,
                             race_conditions,
                             behaviours,
                             unmatched_returns]}]}.

{relx, [{release, {'jc', "git"},
         ['jc',
          kernel,
	  stdlib,
	  sasl, 
	  {observer,load},
	  {wx, load},
	  {runtime_tools, load}
	 ]}, 

	
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
			    {include_src, false}
			   ]}]},

	    {test, [{deps, []},
		     {erl_opts, [debug_info]},
		     {ct_opts, [{ct_extra_params, "-name jc1@127.0.0.1"},
				{ct_use_short_names, false}]}
		   ]
            }]
}.
