% -*- mode: erlang -*-

{erl_opts, [{native, o3},
	    warn_missing_spec,
            {parse_transform, lager_transform}
	   ]}.

{cover_enabled, true}.

{minimum_otp_vsn, "20.0"}.

{deps, [
        {jwalk, "1.1.0"},
        {jsone, {git, "git://github.com/sile/jsone", {branch, "otp21-rc1"}}},
        {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.5.0"}}},
        {lager, "3.6.7"}
       ]}.						     


% Documentation
{edoc_opts, [{skip_deps, true},
             {preprocess, true}, 
	     {packages, true},
	     {includes, "./include"}] }.


{dialyzer_opts, [{warnings, [no_return,
                             no_unused,
                             no_improper_lists,
                             no_fun_app,
                             no_match,
                             no_opaque,
                             no_fail_call,
                             error_handling,
                             race_conditions,
                             behaviours,
                             unmatched_returns]}]}.


{relx, [{release, {'jc', "2.0.0"},
         ['jc',
          kernel,
	  stdlib,
	  inets,
	  {observer,load},
	  {wx, load},
	  {runtime_tools, load}
	 ]}, 
	
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{profiles, [
	    {prod, [
		    {relx, [{dev_mode, false},
                            {include_erts, true},
			    {include_src, false}]}
		   ]},
	    {test, [
		    {dialyzer_opts, [{warnings, []}]},
		    {ct_opts, [{cover, "test/jc.coverspec"}]}
		   ]}
	    
	    ]
}.

