%% Typically the only line that are customer specific are the cache_nodes lines in
%% the jc stanza.

[
 %% SASL config - not typically used, but might come in handy. Log files will be
 %% created, but are small and rotated.
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 {mnesia, 
  [
   %% Specifies the maximum number of writes allowed to the transaction log
   %% before a new dump of the log is performed. The higer the more RAM is
   %% used, but low numbers may result in mnesia not being able to keep up.
   %% Default is 100
   {dump_log_write_threshold, 50000},

   %% MUST be RAM so that schema is diskless. This allows for nodes to come 
   %% in and out of the cluster in any order without worying about conflicting
   %% masters.
   {schema_location, ram}  
  ]},

 {lager, 
  [
   %% Lager back-end handlers. Logs are small and rotated by default.
   {handlers, [
	       {lager_console_backend, info},
	       {lager_file_backend, [{file, "log/error.log"}, 
				     {level, error}, 
				     {size, 10485760}, 
				     {date, "$D0"}, 
				     {count, 5}]},
   %% Uncomment for file-based debug log
   %%	       {lager_file_backend, [{file, "log/debug.log"}, 
   %%				     {level, debug}, 
   %%				     {size, 10485760}, 
   %%				     {date, "$D0"}, 
   %%				     {count, 5}]},				     
	       {lager_file_backend, [{file, "log/info.log"}, 
				     {level, info}, 
				     {size, 10485760}, 
				     {date, "$D0"}, 
				     {count, 5}]}
	      ]},
   {colored, true}	
  ]},

{jc,
  [
   %% Cache nodes in any order. 
   {cache_nodes, ['jc1@127.0.0.1']},

   %% How long to wait for mnesia tables to come up when adding a node to the
   %% cluster.
   {table_wait_ms, 20000},

   %% At what interval to run the process that looks for clients with no
   %% subscriptions and removes them from the subscriber (ps_client) tables.
   %% This is a safety-net activity and is used to remove subscriptions that
   %% failed to be removed due to a failure of somesort.
   {evict_deadbeats_ms, 3600000},

   %% How often to run the process that evicts records that are older than the
   %% ttl associated with the map to which the record belongs.
   {max_ttl_job_secs, 180},
   
   %% Possibly empty list indicating max_ttl for records in the map. Format is
   %% {max_ttl_maps, [{Map1, Secs1}, ..., {MapN, SecsN}]},
   %% {max_ttl_maps, [{testmap, 100}]},

   %% Initial JSON values upon which to index. In a path, the number 2 indicates
   %% the second whatever, while the '2' indicates the string 2 in the path.
   %% {indexes, [{bed, "identifier"}, {bed, "menu.2.id.'2'"}]}
	      
   %% Frequency needed to see a particular JSON query before indexing 
   %% {freq, Time_secs}
   {analyze_freq, {5, 5}},

   %% Should jc_sequence be a singleton or local at each cache node. If
   %% destructive operations happen at key-specific nodes, than no need;
   %% otherwise yes.
   {jc_sequence_singleton, false}	      
  ]}


].
