%% Typically the only line that is customer specific is the cache_nodes lines in
%% the jc stanza.

[
 %% SASL config - type of logging not typically used, but might come in handy
 %% log files will be created, but are small and rotated.
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 {mnesia, 
  [
   %% Specifies the maximum number of writes allowed to the transaction log
   %% before a new dump of the log is performed. The higer the more ram is
   %% used but low numbers may result in mnesia not being able to keep up.
   %% Default is 100
   {dump_log_write_threshold, 50000},

   %% Must be ram so that schema is diskless. This allows for nodes to come in
   %% and out of the cluster in any order without worying about conflicting
   %% masters.
   {schema_location, ram}  
  ]
 },


 {lager, 
  [
   {handlers, [
	       {lager_console_backend, info},
	       {lager_file_backend, [{file, "log/error.log"}, 
				     {level, error}, 
				     {size, 10485760}, 
				     {date, "$D0"}, 
				     {count, 5}]},
%% Uncomment for file-based debug log
%%	       {lager_file_backend, [{file, "log/debug.log"}, 
%%				     {level, debug}, 
%%				     {size, 10485760}, 
%%				     {date, "$D0"}, 
%%				     {count, 5}]},				     
	       {lager_file_backend, [{file, "log/info.log"}, 
				     {level, info}, 
				     {size, 10485760}, 
				     {date, "$D0"}, 
				     {count, 5}]}
	      ]},
   %% We are not racist and do not want colors on the command line.	      
   {colored, true}	
  ]},

{jc,
  [
   %% Cache nodes in any order. 
   {cache_nodes, ['jc1@127.0.0.1','jc2@127.0.0.1' ]},

   %% How long to wait for mnesia tables to come up when adding a node to the
   %% cluster.
   {table_wait_ms, 2000},

   %% At what interval to run the process that looks for clients with no
   %% subscriptions and remove them from the subscriber (ps_client) tables.
   {evict_deadbeats_ms, 3600000},

   %% How often to run the process that evicts records that are older than the
   %% ttl associated with the map to which the record belongs.
   {max_ttl_job_secs, 180},
   
   %% Possibly empty list indicating max_ttl for records in the map. Format is
   %% {max_ttl_maps, [{Map1, Secs1}]},
   {max_ttl_maps, [{testmap, 100}]},

   {indexes, [{bed, "identifier"},
      	      {bed, "menu.2.id.'2'"},
	      {cow, "cow.2.id.'2'"}]},
	      
   %% Frequency needed  to warrant indexing {freq, Time_secs}
   {analyze_freq, {5, 5}},

   %% Port for the protocol listener
   {protocol_port, 5555}	      
  ]}


].
