% -*- mode: erlang -*-
% uses jsone instead of jsonx
%

{erl_opts, [{d, 'NO_NIF', true},
            {parse_transform, lager_transform}
	   ]}.



{cover_enabled, true}.


{deps, [
       	{lager, {git, "git://github.com/basho/lager.git", {tag, "2.1.0"}}},
	{ej,    {git, "git://github.com/seth/ej.git",	  {branch, "master"}}},
	{jsone, {git, "git://github.com/sile/jsone.git",  {tag, "v0.3.3-hipe"}}}
       ]}.						     



{relx, [{release, {'jc', "v0.9.0"},
         ['jc',
          kernel,
	  stdlib,
	  sasl
	 ]}, 
	


        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{profiles, [
	    {prod, [
		    {relx, [{dev_mode, false},
                            {include_erts, true},
			    {include_src, false}]}
		   ]},
	    {test, [
		    {dialyzer_opts, [{warnings, []}]},
		    {ct_opts, [{cover, "test/jc.coverspec"}]}
		   ]}
	    
	    ]
}.
