% -*- mode: erlang -*-
% uses jsone instead of jsonx
%

{erl_opts, [
            {parse_transform, lager_transform}
	   ]}.


{cover_enabled, true}.


{deps, [
        {jwalk, "0.6.0"},
        {jsone, "1.2.0"},
        {lager, "3.0.1"},
	{ranch, "1.1.0"}
       ]}.						     


{relx, [{release, {'jc', "v0.9.5"},
         ['jc',
          kernel,
	  stdlib,
	  sasl,
	  inets
	 ]}, 
	

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{profiles, [
	    {prod, [
		    {relx, [{dev_mode, false},
                            {include_erts, true},
			    {include_src, false}]}
		   ]},
	    {test, [
		    {dialyzer_opts, [{warnings, []}]},
		    {ct_opts, [{cover, "test/jc.coverspec"}]}
		   ]}
	    
	    ]
}.
